body {
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 50px;
    background-color: #1F2937;
}

.header img {
    height: 60px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;  
}

.menu a,
.hero p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.hero {
    display: flex;
    background-color: #1F2937;
    gap: 50px;
    justify-content: center;
    padding: 50px;
    align-items: center;
}

.hero img {
    height: 300px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.info h2 {
    text-align: center;
    margin: 50px;
}

.image img {
    width: 200px;
}

.gallery {
    display: flex;
    flex: 0;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 50px;
    margin: 50px;
}

.image p {
    text-align: center;
}

.gray {
    background-color: #E5E7EB;
    padding: 50px 0;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.quote p {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    font-style: italic;
    align-self: center;
    max-width: 950px;
    /* display: flex; */
}

/*
.quote .block {
    margin-top: 50px;
}
*/

.credit {
    
    /* margin-bottom: 50px; */
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    max-width: 950px;
    text-align: right;

}